


<div style="display: flex">
  <p> Experienced Manager </p>
  <% (1..5).each do |count| %>
    <%= form_for @job do |f| %>
      <%= f.hidden_field :criteria_one_score, value: count %>
      <% if @job.criteria_one_score >= count %>
        <%= f.submit '♥' %>
      <% else %>
        <%= f.submit '♡' %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div style="display: flex">
  <p> Great pay and benefits </p>
  <% (1..5).each do |count| %>
    <%= form_for @job do |f| %>
      <%= f.hidden_field :criteria_two_score, value: count %>
      <% if @job.criteria_two_score >= count %>
        <%= f.submit '♥' %>
      <% else %>
        <%= f.submit '♡' %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div style="display: flex">
  <p> Mentorship </p>
  <% (1..5).each do |count| %>
    <%= form_for @job do |f| %>
      <%= f.hidden_field :criteria_three_score, value: count %>
      <% if @job.criteria_three_score >= count %>
        <%= f.submit '♥' %>
      <% else %>
        <%= f.submit '♡' %>
      <% end %>
    <% end %>
  <% end %>
</div>


