<h2> Add a New Job </h2>

<br>

<div id = "new-job-create">
  <%= form_for @job, remote: true do |f| %>
  <input type="hidden" name="job[user_id]" value="<%= current_user.id %>" />
    <%= f.text_area :url, placeholder: "Paste Link Here" %>
    <%= f.text_area :company, placeholder: "Company Name" %>
    <%= f.text_area :job_title, placeholder: "Job Title" %>
    <%= f.text_area :description, placeholder: "Job Description" %>
    <%= f.submit "Submit" %>
  <% end %>
</div>