  <% if @errors %>
    <div id="error_explanation">
      <ul>
        <% @errors.each do |error| %>
          <li><%= error%></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<h1>Hi, <%= @current_user.first_name %></h1>

<h2>Here's what's on your radar...</h2>

<% @jobs.each do |job| %>
  <% case %>
    <% when job.current_phase == "Accepted" %>
      <h1>Accepted</h1>
        <%= link_to job.job_title, job_path(job.id) %> <%= job.company %>
    <% when job.current_phase == "Offer" %>
      <h1>Offer</h1>
        <%= link_to job.job_title, job_path(job.id) %> <%= job.company %>
    <% when job.current_phase == "Checking references" %>
      <h1>Checking References</h1>
        <%= link_to job.job_title, job_path(job.id) %> <%= job.company %>
    <% when job.current_phase == "Onsite Interview" %>
      <h1>Onsite Interview</h1>
        <%= link_to job.job_title, job_path(job.id) %> <%= job.company %>
    <% when job.current_phase == "Technical Phone Screen" %>
      <h1>Technical Phone Screen</h1>
        <%= link_to job.job_title, job_path(job.id) %> <%= job.company %>
    <% when job.current_phase == "Informational Interview" %>
      <h1>Informational Interview</h1>
        <%= link_to job.job_title, job_path(job.id) %> <%= job.company %>
    <% when job.current_phase == "Applied" %>
      <h1>Applied</h1>
        <%= link_to job.job_title, job_path(job.id) %> <%= job.company %>
    <% when job.current_phase == "Wishlist" %>
       <h1>Wishlist</h1>
      <%= link_to job.job_title, job_path(job.id) %> <%= job.company %>

    <% end  %>
<% end %>


