<h1>Hi, <%= current_user.first_name.capitalize %>!</h1>

<h2>Here's What's on Your Radar...</h2>

<br>

<div>
  <% if @accepted_jobs.any? %><h3>Accepted</h3>
    <% @jobs.each do |job| %>
      <% if job.current_phase == "Accepted" %>
         <%= render partial: "wish_list.html.erb", locals: {job: job} %>
      <% end %>
    <%end %>
    <br>
  <% end %>
</div>

<div>
  <% if @offered_jobs.any? %><h3>Offer</h3>
    <% @jobs.each do |job| %>
      <% if job.current_phase == "Offer" %>
         <%= render partial: "wish_list.html.erb", locals: {job: job} %>
      <% end %>
    <%end %>
    <br>
  <% end %>
</div>

<div>
  <% if @checking_references_jobs.any? %><h3>Checking References</h3>
    <% @jobs.each do |job| %>
      <% if job.current_phase == "Checking References" %>
         <%= render partial: "wish_list.html.erb", locals: {job: job} %>
      <% end %>
    <%end %>
    <br>
  <% end %>
</div>

<div>
  <% if @onsite_interview_jobs.any? %><h3>Onsite Interview</h3>
    <% @jobs.each do |job| %>
      <% if job.current_phase == "Onsite Interview" %>
         <%= render partial: "wish_list.html.erb", locals: {job: job} %>
      <% end %>
    <%end %>
    <br>
  <% end %>
</div>

<div>
  <% if @phone_screen_jobs.any? %><h3>Technical Phone Screen</h3>
    <% @jobs.each do |job| %>
      <% if job.current_phase == "Technical Phone Screen" %>
         <%= render partial: "wish_list.html.erb", locals: {job: job} %>
      <% end %>
    <%end %>
    <br>
  <% end %>
</div>

<div>
  <% if @info_interview_jobs.any? %><h3>Informational Interview</h3>
    <% @jobs.each do |job| %>
      <% if job.current_phase == "Informational Interview" %>
         <%= render partial: "wish_list.html.erb", locals: {job: job} %>
      <% end %>
    <%end %>
    <br>
  <% end %>
</div>

<div>
  <% if @applied_jobs.any? %><h3>Applied</h3>
    <% @jobs.each do |job| %>
      <% if job.current_phase == "Applied" %>
        <%= render partial: "wish_list.html.erb", locals: {job: job} %>
      <% end %>
    <%end %>
    <br>
  <% end %>
</div>

<div id="wish-list">
  <% if @wishlist_jobs.any? %>
  <h3>Wishlist</h3>
    <% @jobs.each do |job| %>
      <% if job.current_phase == "Wishlist" %>
        <%= render partial: "wish_list.html.erb", locals: {job: job} %>

      <% end %>
    <% end %>
  <% end %>
</div>

<br>

<div id = "add-new-job">
<%= button_to "Add New Job", new_job_path, locals: { resource: current_user}, :method => :get, remote: true %>
</div>






