
<h1> Get geared up to work at <%= @job.company %>, <%= @user.first_name %>!</h1>

<%= render partial: "edit_current_phase.html.erb", locals: {resource: @job} %>

<div>
  <h2>Here are your next steps:</h2>
  <p><%= @job.next_steps %></p>
</div>

<div class="job-info">
  <div class="job-section-header">
    <h2> <%= @job.job_title %></h2>
  </div>
  <p><%= link_to @job.url, @job.url %></p>
  <p> <%= @job.company %></p>
  <p><%= @job.description %></p>
</div>

<h3> Scorecard: </h3>
<%= render partial: "edit.html.erb", locals: {resource: @job} %>

<%= render partial: "notes/show.html.erb", locals: {resource: @job} %>

<%= render partial: "notes/new.html.erb", locals: {resource: @job} %>





