<h1> This job belongs to <%= current_user %></h1>

<div class="job-phase">
  <p>Job status</p>
  <p><%= @job.current_phase %></p>
</div>

<div class="job-info">
  <div class="job-section-header">
    <h2> <%= @job.job_title %></h2>
  </div>
  <p><%= @job.url %></p>
  <p> <%= @job.company %></p>
  <p><%= @job.description %></p>
</div>

<div class="scorecard">
  <h3>Here's how this job currently stacks up against your scorecard:</h3>
  <div class="criteria">
    <p>Criteria 1: <%= @user.criteria_one%></p>
    <p>Current score: <%=
    @job.criteria_one_score %>
  </div>
  <div class="criteria">
    <p>Criteria 2: <%= @user.criteria_two%></p>
    <p>Current score: <%= @job.criteria_two_score %>
  </div>
  <div class="criteria">
    <p>Criteria 3: <%= @user.criteria_three%></p>
    <p>Current score: <%= @job.criteria_three_score %>
  </div>
</div>

<div id ="Hugo">
<h3> Scorecard: </h3>
<%= render partial: "edit.html.erb", locals: {resource: @job} %>
</div>


<%= render partial: "notes/new.html.erb", locals: {resource: @job} %>


<%= render partial: "notes/show.html.erb" %>




