<h1> This job belongs to <%= current_user.first_name %></h1>

<div class="job-phase">
  <p>Job status</p>
  <p><%= @job.current_phase %></p>
</div>

<div class="job-info">
  <div class="job-section-header">
    <h2> <%= @job.job_title %></h2>
  </div>
  <p><%= @job.url %></p>
  <p> <%= @job.company %></p>
  <p><%= @job.description %></p>
</div>

<h3> Scorecard: </h3>
<%= render partial: "edit.html.erb", locals: {resource: @job} %>

<%= render partial: "notes/new.html.erb", locals: {resource: @job} %>

<%= render partial: "notes/show.html.erb" %>




