<h1>Hello! <%= @user.first_name %></h1>
<p> Recent Points:: <%= @user.jobs.last&.points || 0 %></p>

<p> Recent Job:: <%= @user.jobs.last&.job_title || 'none' %> at <%= @user.jobs.last&.company %></p>

<p> Total Points:: <%= @user.jobs.total_job_points %></p>

<br>

<% if @rubric %>
<%= render partial: "rubrics/show", locals: { resource: @user} %>
<%= button_to "Edit Criteria", edit_user_rubric_path(@user), locals: { resource: @user}, :method => :get %>
<% else %>
<%= render partial: "rubrics/new", locals: {resource: @user} %>
<% end %>
