<h1>Hello! <%= @user.first_name %></h1>
<p> Recent points:: <%= @user.point_categories.last&.number_of_points || 'none' %></p>

<p> Recent category:: <%= @user.point_categories.last&.category || 'none' %> </p>

<p> Total points:: <%= @user.jobs.total_job_points %></p>

  <%= render partial: "rubrics/show.html.erb", locals: { resource: @user} %>

<%= render partial: "rubrics/new.html.erb",locals:   {resource: @user} %>
