<h1>Hello, <%= current_user.first_name %>!</h1>

<h5> Recent Points:: <%= current_user.jobs.last&.points || 0 %></h5>

<h4> Recent Job:: <%= current_user.jobs.last&.job_title %> at <%= current_user.jobs.last&.company || 'none' %></h4>

<h5><b> Total Points:: <%= current_user.jobs.total_job_points %></b></h5>

<br>


<div class="rubric-edit">
<% if @rubric %>
  <%= render partial: "rubrics/show", locals: { resource: current_user } %>
  <%= button_to "Edit Criteria", edit_user_rubric_path(current_user, @rubric), :method => :get, remote: true %>
<% else %>
  <%= render partial: "rubrics/new", locals: { resource: current_user } %>
<% end %>
</div>
