<h1>Here is my new event thingie</h1>

<div id="add-event-form">

  <%= form_for @event, url: job_events_path do |f| %>
    <%= f.hidden_field :user_id, value: @job.user_id %>
    <%= f.hidden_field :attendable_type, value: "job" %>
    <%= f.hidden_field :attendable_id, value: @job.id %>
    Event name: <%= f.text_field :title %>
    Location or Phone: <%= f.text_field :location %>
    Event details: <%= f.text_field :description%>
    Event time and date: <%= f.text_field :datetime%>

    <%= f.submit "Add a new event" %>
  <% end %>

</div>