<p>Write three criteria that matter to you in your job search</p>

  <%= form_for [current_user, @rubric], remote: true do |f| %>
    <%= f.text_area :standard_one %>
    <%= f.text_area :standard_two %>
    <%= f.text_area :standard_three %>
    <%= f.submit "Submit" %>
  <% end %>