<!DOCTYPE html>
<html>
  <head>
    <title>JobApp</title>
    <%= csrf_meta_tags %>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

        <% if user_signed_in? %>
          <nav class= "login">
             <li> <p> Welcome <%= current_user.first_name %> </li>
             <li> <%= link_to "Profile", user_path(current_user.id) %> </li>
             <li> <%= link_to "Calendar", user_events_path(current_user.id) %> </li>
             <li> <%= link_to "My Jobs", root_path(current_user.id) %> </li>
             <li> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>
          </nav>
        <% else %>
          <nav class="login">
            <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
          </nav>
        <% end %>

    <%= render partial: "layouts/errors", layout: false %>
    <%= yield %>

    <% if Rails.env.development? %>
      <%= console %>
    <% end %>
  </body>
</html>
